h5{
    font-weight: 700;
}
.nav-wrapper{
    margin: 0 30px 0 30px;
}

.dashboard-title{
    font-weight: 500;
}

.card-value{
    font-size: 25px;
    font-weight: 500;
}

.fa-angle-up, .fa-angle-down{
    margin-right: 5px;
}

.chart-panel{
    height: 200px;
}

.span-updates{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.sidenav-align{
    padding-top: 15px;
}

.font13{
    font-size: 13px;
}

